:root {
  --primary: #FF4500; /* OrangeRed (Vibrant orange-red) */
  --light: #FFFFE0;   /* LightYellow (Soft yellow) */
  --dark: black;      /* Black for dark color */
}

/* Change the color of the nav-link text */
.nav-link {
  color: var(--primary); /* Primary color */
}

.nav-link:hover {
  color: var(--light); /* Light color on hover */
}

/* Change the dropdown menu background color and item colors */
.dropdown-menu {
  background-color: var(--dark); /* Dark color for the dropdown background */
}

.dropdown-item {
  color: var(--light); /* Light color for the dropdown items */
}

.dropdown-item:hover {
  color: var(--primary); /* Primary color on hover */
  background-color: #333333; /* Darker background color on hover */
}

/* Style for the icon next to the user's name */
.nav-link .fas {
  color: var(--primary); /* Primary color for the icon */
}

/* Primary and secondary text colors */
.primary-text {
  color: var(--primary);
}

.second-text {
  color: var(--dark);
}

/* Primary and secondary background colors */
.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--light);
}

/* Full rounded corners */
.rounded-full {
  border-radius: 100%;
}

/* Wrapper background with linear gradient */
#wrapper {
  overflow-x: hidden;
  background-color: var(--dark); /* Black background color */
  background-image: linear-gradient(
    to right,
    var(--light),
    var(--light),
    var(--light),
    var(--light),
    var(--light)
  );
}

/* Sidebar styling */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: var(--primary); /* Primary color for sidebar heading */
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

/* Page content styling */
#page-content-wrapper {
  min-width: 100vw;
}

/* Toggled wrapper for sidebar */
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

/* Menu toggle button */
#menu-toggle {
  cursor: pointer;
}

/* List group item styling */
.list-group-item {
  border: none;
  padding: 20px 30px;
  background-color: var(--light); /* Light background for list items */
  color: var(--dark); /* Dark text color for list items */
}

.list-group-item.active {
  background-color: transparent;
  color: var(--primary); /* Primary color for active list item */
  font-weight: bold;
  border: none;
}

/* Responsive design adjustments */
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
